<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Testou</h1>
        <div>
            {# je crée une variable !  #}
            {%  set name= "Guillaume" %}

            {# j'affiche ma varible avc moustaches #}
        <h2>{{ name }}</h2>

            {# je crée un tableau #}
            {% set colors = ["orange", "brown", "turquoise","blue"] %}

            {# affichage avec une boucle de couleurs #}
            {%  for color in colors %}
                <div style="background-color: {{  color  }}"> {{ color }}</div>
            {% endfor  %}

            {# je crée un objet #}
            {% set book = {
                title: "Pifpaf",
                year: 2022,
                author: "John DOe"}
            %}

            {# j'affiche mon livre  #}
            <h3>{{ book.author }}</h3>

            {# affichage clé/valeur#}
            <div>
                    {% for key, val in book  %}
                        <div>{{ key }}:{{ val }}</div>
                     {% endfor %}
            </div>
        </div>

</body>
</html>