{% extends 'base.html.twig' %}

{% block body %}

    <h1>Testou</h1>
        <div>
            {# je crée une variable !  #}
            {%  set name= "Guillaume" %}

            {# j'affiche ma varible avc moustaches #}
        <h2>{{ name | upper }}</h2>

            {# je crée un tableau #}
            {% set colors = ["orange", "brown", "turquoise","blue"] %}

            {# affichage boucles et filtres  #}

            {# filtres de dates #}
            <div>{{ "now" |date ('Y') }}</div>

            <div>nombre de couleurs: {{ colors|length }}</div>
            <div>{{ colors|join('/') }}</div>
            {%  for color in colors %}
                <div>{{ loop.index }}</div>
                <div style="background-color: {{  color  }}"> {{ color }}</div>
            {% endfor  %}

            {# je crée un objet #}
            {% set book = {
                title: "Pifpaf",
                year: 2022,
                author: "John DOe"}
            %}

            {# j'affiche mon livre  #}
            <h3>{{ book.author }}</h3>

            {# affichage clé/valeur#}
            <div>
                    {% for key, val in book  %}
                        <div>{{ key }}:{{ val }}</div>
                     {% endfor %}
            </div>
        </div>

{% endblock %}

{% block title %} {{ parent() }} | Testounet {% endblock %}